# Bailey Sweis 
## Week 8: 3/8/2022
### Python - lambda, map, filter, and reduce functions

In [4]:
# lambda arguments : expressions
def double (x):
    return x *2

double(5)

10

In [5]:
def square(num1):
    return num1**2
square(5)

25

In [6]:
'''
lambda argument : expression
'''
double = lambda x:x*2
double(5)

10

In [7]:
# find larger number usin lambda
larger = lambda a,b: a if a>b else b

In [8]:
larger(2,6)

6

In [9]:
# higher order functions, such as map(), filter(), and reduce()
def square(num1):
    return num1**2

In [24]:
lst = [2,3,4,5,2,6,4]
new = map(square,lst)
i = 0
for n in new:
    if n>5:
        i = i+1
print(i)

5

In [13]:
list(new)

[]

In [14]:
new

In [15]:
list(map(square,lst))

[4, 9, 16, 25, 4, 36, 16]

In [16]:
list(map(lambda x:x*2,lst))

[4, 6, 8, 10, 4, 12, 8]

In [26]:
words = ['Ford','Nissan', 'GMC', 'Mazda', 'Dodge', 'BMW']

In [27]:
list(map(lambda w:w[0],words))

['F', 'N', 'G', 'M', 'D', 'B']

In [28]:
list(map(lambda w:w[::-1],words))

['droF', 'nassiN', 'CMG', 'adzaM', 'egdoD', 'WMB']

In [32]:
for n in words:
    print(n[::-1])

droF
nassiN
CMG
adzaM
egdoD
WMB

In [34]:
# the filter() function 
'''
the filter() function takes two arguments
function - a function
iterable - an iterable like sets, lists, tuples, etc.

its syntax is:
filter(funciton, iterable)
'''

def even(num):
    return num % 2 == 0
even(8)

True

In [35]:
lst

[2, 3, 4, 5, 2, 6, 4]

In [36]:
# using filter()
filter(even,lst)

In [37]:
list(filter(even,lst))

[2, 4, 2, 6, 4]

In [38]:
list(map(even,lst))

[True, False, True, False, True, True, True]

In [56]:
# a function tht returns true or false based on if a vowel
def filter_vowels(letter):
    vowles = ['a','e','i','o','u']
    return True if letter in vowles else False

In [57]:
letters = ['a','b','d','e','i','j','o']

In [58]:
filter_vowels(letters)

False

In [59]:
filtered_vowles = filter(filter_vowels,letters)

In [60]:
t_vowels = tuple(filtered_vowles)
l_vowles = list(t_vowels)

In [61]:
t_vowels

('a', 'e', 'i', 'o')

In [62]:
l_vowles

['a', 'e', 'i', 'o']

In [63]:
l_vowles[0]

'a'

In [64]:
filtered_vowles = map(filter_vowels,letters)

In [65]:
list(filtered_vowles)

[True, False, False, True, True, False, True]

In [67]:
# reduce() function
'''
reduce(function, iterable[, initializer])
'''
num_list = [1,2,3,4,5]

def prod(x,y):
    return x*y

In [68]:
import functools
from functools import reduce

In [69]:
product = reduce(prod, num_list)

In [71]:
product

120

In [73]:
reduce(lambda x,y: x+y, num_list)

15

In [75]:
reduce(lambda x,y: x*y, num_list,2)

240

In [101]:
def product(x):
    p = 1
    for i in x:
        p = p * i
    return p

In [102]:
product(num_list)

120

In [105]:
# find the maximum number in a list
num_list = [1,12,3,4,5]
max_num = reduce(lambda x,y: x if x>y else y, num_list)
max_num

12

In [106]:
min_num = reduce(lambda x,y: x if x<y else y, num_list)

In [107]:
min_num

1