# Bailey Sweis
## week 13: 4/12/22
## python - pandas series and dataframe

In [6]:
import numpy as np
from pandas import Series, DataFrame

In [7]:
import pandas as pd

In [8]:
mydataset = {
    'Cars':["GMC", 'Toyota', 'Ford'],
    'Seats': [5,6,7],
    
}
df1 = pd.DataFrame(mydataset)
print(df1)

     Cars  Seats
0     GMC      5
1  Toyota      6
2    Ford      7

In [9]:
type(df1)

pandas.core.frame.DataFrame

In [11]:
print(pd.__version__)

1.0.5

In [12]:
#Pandas series
s = Series([2,5,7,-9,8,4])
s

0    2
1    5
2    7
3   -9
4    8
5    4
dtype: int64

In [14]:
print(s)

0    2
1    5
2    7
3   -9
4    8
5    4
dtype: int64

In [15]:
s.values

array([ 2,  5,  7, -9,  8,  4], dtype=int64)

In [16]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [17]:
s[1]

5

In [18]:
s[4]

8

In [20]:
# create Labels
s = pd.Series([10,20,30,40], index = ["w", "x", "y", "z"])
print(s)

w    10
x    20
y    30
z    40
dtype: int64

In [21]:
s["y"]

30

In [22]:
type(s)

pandas.core.series.Series

In [24]:
# creating series from numpy array
data = np.array(['a', 'b', 'c', 'd'])
s = Series(data, index = [100, 101, 102, 103])
s

100    a
101    b
102    c
103    d
dtype: object

In [25]:
#values and index
summer_olympic = Series([2520, 1122, 937, 847, 713], index = ['USA', 'Russia', 'Germany', 'UK', 'France'])
summer_olympic

USA        2520
Russia     1122
Germany     937
UK          847
France      713
dtype: int64

In [26]:
summer_olympic['USA']

2520

In [27]:
summer_olympic[summer_olympic > 800]

USA        2520
Russia     1122
Germany     937
UK          847
dtype: int64

In [28]:
'USA' in summer_olympic

True

In [31]:
summer_olympic_dict = summer_olympic.to_dict()
summer_olympic_dict

{'USA': 2520, 'Russia': 1122, 'Germany': 937, 'UK': 847, 'France': 713}

In [32]:
summer_olympic_dict['UK']

847

In [33]:
# convert dictionary to series
summer_olympic_series = Series(summer_olympic_dict)
summer_olympic_series

USA        2520
Russia     1122
Germany     937
UK          847
France      713
dtype: int64

In [34]:
countries = ['Russia', 'France', 'Spain', 'Germany', 'USA','UK','Italy']

In [36]:
#redefine a series
s2 = Series(summer_olympic_dict, index = countries)