# Bailey Sweis 
## Week 5: 2/17/2022
### Python loops - for

**General for loop format**

<code>for item in object:
    statements to do work </code>

In [1]:
sc = [68,54,35,63,85,34,64,87,34,41]
sc

[68, 54, 35, 63, 85, 34, 64, 87, 34, 41]

In [2]:
for n in sc:
    print(n)

68
54
35
63
85
34
64
87
34
41

In [3]:
for n in sc:
    if n%2 == 0:
        print(n)
    else:
        print("odd")

68
54
odd
odd
odd
34
64
odd
34
odd

In [5]:
# get the sum of the scores
sum = 0
for n in sc:
    sum = sum + n
    print(sum)

68
122
157
220
305
339
403
490
524
565

In [6]:
sum = 0
for n in sc:
    sum = sum + n
print(sum)

565

In [14]:
sum / len(sc)

5.649999999999999e-19

In [15]:
for letter in 'I am a student in Cis310':
    print(letter)

I

a
m

a

s
t
u
d
e
n
t

i
n

C
i
s
3
1
0

In [16]:
t = (5,7,8,9,10,14)

for n in t:
    print(n)

5
7
8
9
10
14

In [17]:
ls1 = [(10,20),(30,40),(50,60),(70,80),(90,100)]
ls1

[(10, 20), (30, 40), (50, 60), (70, 80), (90, 100)]

In [21]:
for t in ls1:
    print(t[0])

10
30
50
70
90

In [22]:
for (t1, t2) in ls1:
    print(t1)

10
30
50
70
90

In [23]:
d = {"brand":"Ford", "model":"Mustang", "year":1964}
d

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [25]:
items = d.items()

In [26]:
tuple(items)

(('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964))

In [27]:
for t in items:
    print(t)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [28]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [29]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [31]:
for item in d:
    print(item)

brand
model
year

In [32]:
d

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [35]:
for item in d.items():
    print(item)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [36]:
for k,v in d.items():
    print(k)

brand
model
year

In [40]:
for v in d.values():
    print(v)

Ford
Mustang
1964

In [41]:
d1 = {'k1': 5, 'k2': 8, 'k3': 3}

In [42]:
sorted(d1)

['k1', 'k2', 'k3']

In [49]:
for k in sorted(d1.values()):
    print(k)

3
5
8

In [50]:
# break and continue
fruits = ['Apple','Grape','Orange','Banana', 'Cherry']
for f in fruits:
    if f == 'Banana':
        break
    print(f)

Apple
Grape
Orange

In [51]:
for f in fruits:
    if f == 'Banana':
        continue
    print(f)

Apple
Grape
Orange
Cherry