# Bailey Sweis 
## Week 6: 2/24/2022
### Python - list set and dict comprehension

# list comprehension format:

<code> new list = [expression for member in iterable}<code/>
   

## using Conditional Logic
   
<code> new_list = [expresion for member in iterable (if conditonal)]
<code/>
   
<code> new_list = [expresion (if conditonal) for member in iterable]
<code/>

In [1]:
lst = []
for letter in 'CIS310Data':
    lst.append(letter)

print (lst)

['C', 'I', 'S', '3', '1', '0', 'D', 'a', 't', 'a']

In [2]:
'''
Syntax of the lst comprehension
[expression for item in list]
'''
lst = [letter for letter in 'CIS310Data']
print(lst)

['C', 'I', 'S', '3', '1', '0', 'D', 'a', 't', 'a']

In [3]:
squares = []

for i in range(11):
    squares.append(i*i)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
squares = [ n * n for n in range(11)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# filter the data with conditional logic
squares = [ n*n for n in range(11) if n%2 == 0]
squares

[0, 4, 16, 36, 64, 100]

In [6]:
lst2 = [ n*n for n in range(11) if n%2 == 1]
lst2

[1, 9, 25, 49, 81]

In [7]:
s = 'Cis310 comminucate students with analytical thinking and practical skills'
vowels = [l for l in s if l in 'aeiou']
vowels

['i',
 'o',
 'i',
 'u',
 'a',
 'e',
 'u',
 'e',
 'i',
 'a',
 'a',
 'i',
 'a',
 'i',
 'i',
 'a',
 'a',
 'i',
 'a',
 'i']

In [8]:
prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
new_prices = [v if v > 0 else 0 for v in prices]
new_prices

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [9]:
lst = ['Even' if num%2 == 0 else 'Odd' for num in range(1,11)]
lst

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [10]:
# conditional logic
s = 'Studies found that the financial impact of poor quality data cost the US economy $3.1 trillion in 2016'
vowles = 'aeiou'
lst = [letter for letter in s if letter in s if letter.isalpha() and letter.islower() and letter not in vowles]
lst

['t',
 'd',
 's',
 'f',
 'n',
 'd',
 't',
 'h',
 't',
 't',
 'h',
 'f',
 'n',
 'n',
 'c',
 'l',
 'm',
 'p',
 'c',
 't',
 'f',
 'p',
 'r',
 'q',
 'l',
 't',
 'y',
 'd',
 't',
 'c',
 's',
 't',
 't',
 'h',
 'c',
 'n',
 'm',
 'y',
 't',
 'r',
 'l',
 'l',
 'n',
 'n']

In [16]:
# as an example, consider a situation in which you need to calculate
# the price after tax for a list of transactions:
txns = [1.09, 23,56, -5.8,57.84,4.56, -3, 6.78, -7,5]
Tax_RATE = .08
final_prices = [(l * Tax_RATE) + l for l in txns if l > 0]
final_prices

[1.1772,
 24.84,
 60.480000000000004,
 62.467200000000005,
 4.924799999999999,
 7.3224,
 5.4]

In [17]:
# nested list comprehension
lst = [n*n for n in range(1,11)]
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
lst = [num**2 for num in [n*n for n in range(1,11) if n%2 == 0]]

In [27]:
lst

[16, 256, 1296, 4096, 10000]

In [28]:
# using set and dict comprehension
s = "data prepeperation consumes an amoun tof time (up to 8-%) spent on analytics"
unique_vowles = {i for i in s if i in 'aeiou'}
unique_vowles

{'a', 'e', 'i', 'o', 'u'}

In [29]:
d = {i: i ** 2 for i in range(10)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [30]:
d[3]

9

In [38]:
# use of lst comp in dict comp
cities = ['Austin', 'Tacoma', 'Topeka', 'Sacramento', 'Charlotte']
temps = {c: [n for n in range(40,50)] for c in cities}
temps

{'Austin': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 'Tacoma': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 'Topeka': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 'Sacramento': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
 'Charlotte': [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]}

In [43]:
# using a dict
l = [1,2,1,2,3,4,5,6,2]
d = {1: 'yes', 2: 'no'}
final = [d.get(i, "idle") for i in l]

In [44]:
final

['yes', 'no', 'yes', 'no', 'idle', 'idle', 'idle', 'idle', 'no']

In [55]:
l = [1,2,1,2,3,4,5,6,2]
lst = ['Yes' if n == 1 else 'No' if n==2 else "idle" for n in l]
lst

['Yes', 'No', 'Yes', 'No', 'idle', 'idle', 'idle', 'idle', 'No']

In [56]:
x = [5,2,1,4,5,2,1,3]
lst = ["accept" if n > 4 else "Reject" if n < 2 else "Pending" for n in x]

In [57]:
lst

['accept',
 'Pending',
 'Reject',
 'Pending',
 'accept',
 'Pending',
 'Reject',
 'Pending']